extends ../layout

block content
    h1 ADD COURSE
    form(action="/products/add",method="post")
        .form-group
            label(for="name") COURSE NAME
            input#name(type="text", class="form-control", name="name")
        .form-group
            label(for="contact") COURSE ID
            input#contact(type="text", class="form-control", name="contact")
        .form-group
            label(for="city") COURSE DURATION(HRS)
            input#city(type="text", class="form-control", name="city")
        .form-group
            label(for="service") COURSE FEE(USD)
            input#service(type="text", class="form-control", name="service")
        input(type="submit", class="btn btn-info")
        